:root {
    --color-primary-background: #ececec; /*#141414*/
    --color-secondary-background: #a3a3a3;/*#333333*/

    --color-main-text: #000000;/*#FFFFFF*/
    --color-secondary-text: #3d3d3d;/*#AAAAAA*/
    --border-color:  #d4d4d4;/*#555555*/
    --warn-color: #ffb86b;
    --error-color: #E50914;/*#E50914*/
    --radius-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-primary-background);
    color: var(--color-main-text);
    
    line-height: 1.5;
    font: 
        16px/1.4 system-ui,
        Roboto,
        Segoi UI,
        Ubuntu,
        Catarell,
        "Helvertica Neue",
        Arial;
}
